*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: rgb(61, 61, 61);
    color: white;
    font-weight: bold;
    font-size:large;
    text-align: center;
    padding: 10px;
}
.section{
    padding: 20px 0 5px 250px;
}
.borde{
    border: 1px solid black;
    border-radius: 5px;
}
.contenedor{
    text-align: center;
}
.contenedor img{
    width: 120px;
    margin: 40px 30px;
}
.contenedor h2{
    margin: 5px;
}
.recuadros{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}
.izq{
    flex: 2;
}
.der{
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recuadro{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
}
.texto p{
    margin-top: 20px;
}
.like-boton{
    background-color: rgb(255, 230, 0);
    padding: 10px 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}
.numero-likes{
    margin-right: 10px;
}